ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(46, 45, 45);
    font-size: 30px;
   

}
li{
    float: left;
}
li a, .c2{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
li a:hover, .c1:hover .c2{
    background-color: #0f7;
}
li.c1{
    display: inline-block;

}
.c3{
    display: none;
    position: absolute;
    background-color: rgb(189, 189, 226);
    text-decoration: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.c3 a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.c3 a:hover{
    background-color: rgb(6, 97, 15);
}
.c1:hover .c3{
    display: block;
}