h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #993738;
    text-indent: 120px;
}
table{
    border:1px solid #993738;
    border-collapse: collapse;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
tr,td{
    border: #993333 1px solid;
}
.tr1{
    text-transform: bold;
    background-color: #990000;
    color: white;
}
tr:nth-child(even)
{
    background-color: silver;
}
